{% from 'scientist.html.jinja2' import scientist_card, scientist_css %}
{% from 'invention.html.jinja2' import invention_card, invention_css %}
{% set on_page = 16 if size == 'small' else 9 -%}
<html>
<head>
    <script src="https://kit.fontawesome.com/f91633afc7.js" crossorigin="anonymous"></script>
    <style>
        :root {
            --border-color: #506381;
            --hint-color: #C8C8C8;
            
            --bachelor-color: #C8C8C8;
            --master-color: #A0A0A0;
            --phd-color: #656364;

            --tech-color: #D65743;
            --phis-color: #407CB1;
            --biom-color: #63C67A;
            --envi-color: #EAC443;
            --math-color: #5b6676;
            --phil-color: #C8C8C8;
        }
        body {
            display: table;
        }
        @media print {
            .pagebreak { page-break-before: always; }
            body {
                width: 21cm;
                height: 29.7cm;
                margin: 10mm 10mm 10mm 10mm;
            }
        }
        .tech-bg {
            background-color: var(--tech-color);
        }
        .phis-bg {
            background-color: var(--phis-color);
        }
        .biom-bg {
            background-color: var(--biom-color);
        }
        .envi-bg {
            background-color: var(--envi-color);
        }
        .math-bg {
            background-color: var(--math-color);
        }
        .phil-bg {
            background-color: var(--phil-color);
        }
        .card-bg {
            background-color: var(--border-color);
            width: {{ 46 if size == 'small' else 58 }}mm;
            height: {{ 69 if size == 'small' else 88 }}mm;
            display: inline-block;
            position: relative;
        }
        .card {
            background-color: white;
            border: 2mm solid var(--border-color);
            border-radius: 4mm;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            position: relative;
            font-size: {{ 'x-small' if size == 'small' else 'small' }};
            font-family: 'Helvetica', 'Arial', sans-serif;
        }
        .card-border {
            border: 2mm solid var(--border-color);
            border-radius: 4mm;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            font-size: {{ 'x-small' if size == 'small' else 'large' }};
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    {{ scientist_css(size) }}
    {{ invention_css(size) }}
</head>
<body>
    {% for scientist in scientists %}
    {% if loop.index0 % on_page == 0 %}
    <div class="pagebreak"></div>
    {% endif %}
    {{ scientist_card(scientist) }}
    {% endfor %}

    {% for invention in inventions %}
    {% if loop.index0 % on_page == 0 %}
    <div class="pagebreak"></div>
    {% endif %}
    {{ invention_card(invention) }}
    {% endfor %}
</body>
</html>