{% set inline_hints = {
    '[active]': '<i class="fa-solid fa-arrow-down"></i>',
    '[patent]': '<i class="fa-solid fa-stamp"></i>',
    '[xactive]': '<i class="fa-solid fa-xmark"></i>',
    '[x2]': '<i class="fa-solid fa-user-group"></i>',
    '[comp]': '<i class="fa-solid fa-graduation-cap"></i>',
    '[rapid]': '<i class="fa-solid fa-stopwatch"></i>',
} %}
{% set top_hints = {
    'Спекулянт': ['circle-arrow-down x-half-small', 'circle-arrow-down x-half-small', 'dollar-sign', 'arrow-right',
    'dollar-sign', 'dollar-sign'],
    'Амбициозный': ['user', 'user', 'user', 'plus'],
    'Предприниматель': ['lightbulb x-half-small', 'minus', 'dollar-sign', '2'],
    'Бизнесмен': ['lightbulb x-half-small', 'minus', 'dollar-sign', '3'],
    'Самозанятый': ['screwdriver-wrench x-half-small', 'plus', 'dollar-sign', '2'],
    'Патент': ['circle-arrow-down x-half-small', 'stamp', 'lightbulb x-half-small', 'arrow-right', 'dollar-sign', '1'],
    'Компаньон': ['user', 'user', 'plus'],
    'Шляпник': ['circle-arrow-down x-half-small', 'user', 'shuffle x-half-small', 'user'],
    'Карьерист': ['user', 'right-left x-half-small', 'user'],
    'Вдохновитель': ['user', 'arrow-up'],
    'Трудоголик': ['dice-six x-half-small', 'user', 'arrow-up'],
    'Авторитет': ['circle-arrow-down x-half-small', 'user', 'arrow-right-to-bracket', 'user'],
    'Провидец': ['lightbulb x-half-small', 'xmark', '2'],
    'Болтун': ['dice-one x-half-small', 'dice-two x-half-small', 'lightbulb x-half-small', 'arrow-right', 'trash-can
    x-half-small'],
    'Международник': ['eye x-half-small', 'hand x-half-small', 'arrow-right-to-bracket', 'lightbulb x-half-small',
    'lightbulb x-half-small'],
    'Эмигрант': ['arrow-left', 'dice-one x-half-small', 'lightbulb x-half-small', 'dice-six x-half-small', 'arrow-right'],
    'Генератор идей': ['lightbulb x-half-small', 'lightbulb x-half-small', 'lightbulb x-half-small', 'arrows-rotate'],
    'Двойной агент': ['3', 'xmark', 'lightbulb x-half-small', 'arrow-right', 'dollar-sign', '4'],
    'Баламут': ['hand x-half-small', 'shuffle x-half-small', 'hand x-half-small'],
    'Монография': ['arrow-down', 'user', 'user', 'arrow-right', 'hand-holding-dollar x-half-small', 'xmark', '2'],
    'Алармист': ['sack-dollar x-half-small', 'plus', 'dollar-sign', '4'],
    'Целеустремлённый': ['user', 'a', 'arrow-right', 'trash-can x-half-small', 'equals', 'dollar-sign', '1', '2'],
    'Фаворит': ['hand-holding-dollar x-half-small', 'plus', 'dollar-sign', '2'],
    'Грантоежка': ['hand-holding-dollar x-half-small', 'plus', 'dollar-sign', '3'],
    'Независимый учёный': ['xmark', 'hand-holding-dollar x-half-small'],
    'Лженаука': ['stopwatch x-half-small', 'dice-three x-half-small', 'plus-minus', '3'],
    'Коммунист': ['dollar-sign', 'dollar-sign', 'divide', 'user'],
    'Визионер': ['circle-arrow-down x-half-small', 'flag-checkered x-half-small'],
    'Холерик': ['xmark', 'arrows-left-right', 'xmark'],
    'Пацифист': ['arrow-down', 'peace x-half-small', 'users', 'slash', 'peace x-half-small', 'lightbulb x-half-small'],
    'Идеалист': ['xmark', 'screwdriver-wrench x-half-small'],
    'Авантюрист': ['dice-three x-half-small', 'xmark', '2'],
    'Академик': ['circle-arrow-down x-half-small', 'd', 'arrow-right', 'graduation-cap', 'b', 'plus', '1'],
    'Лидер': ['circle-arrow-down x-half-small', 'm', 'arrow-right', 'graduation-cap', 'm', 'arrow-up', 'd'],
    'Одиночка': ['arrow-down', 'user', 'arrow-right', 'user-group'],
    'Архивариус': ['calculator', 'calculator', 'calculator', 'arrows-rotate', 'slash', 'trash-can x-half-small',
    'arrows-rotate'],
    'Социопат': ['user', 'user', 'minus'],
    'Нелюдимый': ['user', 'user', 'user', 'minus'],
    'Энциклопедист': ['graduation-cap', 'arrows-left-right', 'graduation-cap'],
} %}

{% macro scientist_css() %}
<style>
    .scientist-header {
        width: 103%;
        height: 12%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .scientist-header-table {
        position: relative;
        top: -0.5mm;
        left: 64.1%;
        width: 36%;
        height: 60%;
        table-layout: fixed;
        font-size: 0.7rem;
        text-align: center;
        z-index: 4;
    }

    .rounded-left-bottom-corner {
        border-radius: 0 0 0 2mm;
        box-sizing: border-box;
    }

    .rounded-right-top-corner {
        border-radius: 0 2mm 0 0;
        box-sizing: border-box;
    }

    .scientist-image {
        width: 100%;
        height: 60%;
        position: relative;
        top: 0;
        left: 0;
    }

    .scientist-image-bg {
        position: relative;
        height: 100%;
        width: 104%;
        top: -1mm;
        left: -1mm;
    }

    .scientist-image-area-icon {
        position: absolute;
        font-size: small;
        width: 100%;
        z-index: 1;
        opacity: 0.07;
        height: 110%;
        top: -5%;
        transform: rotate(-5deg);
        object-fit: cover;
    }

    .scientist-image-skew-top-white {
        position: relative;
        height: 30%;
        width: 104%;
        transform: skewY(18deg);
        top: -120%;
        left: -1mm;
        z-index: 2;
        background-color: white;
    }

    .scientist-image-central-photo {
        width: 103%;
        position: absolute;
        top: 10%;
        left: -1mm;
        z-index: 3;
        -webkit-mask-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);
    }

    .scientist-image-skew-bottom-white {
        position: relative;
        height: 40%;
        width: 104%;
        transform: skewY(-5deg);
        top: -47%;
        left: -1mm;
        z-index: 4;
        background-color: white;
    }

    .scientist-image-vertical-text {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: top left;
        top: 84%;
        width: 76%;
        left: 1mm;
        z-index: 4;
        line-height: 0.63rem;
    }

    .scientist-info {
        width: 97%;
        height: 40%;
        position: absolute;
        top: 53%;
        left: 0;
        padding: 1mm;
        font-size: xx-small;
        z-index: 5;
    }

    .scientist-info-hint {
        position: absolute;
        right: 2mm;
        top: -2.2mm;
        text-align: right;
        letter-spacing: -0.05rem;
    }

    .scientist-footer {
        display: flex;
        width: 97%;
        height: 17%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1mm;
        font-size: xx-small;
        font-style: italic;
        font-family: serif;
        line-height: 0.6rem;
        z-index: 5;
        color: var(--master-color);
    }

    .scientist-footer span {
        align-self: flex-end;
    }
</style>
{% endmacro %}

{% macro scientist_card(data) %}
<div class="card-bg standard-card">
    <div class="card white-bg">
        <div class="scientist-header">
            <table class="scientist-header-table" cellspacing="0" cellpadding="0">
                <colgroup>
                    <col style="width:30%">
                    <col style="width:30%">
                    <col style="width:40%">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="bachelor-bg rounded-left-bottom-corner"><b>{{ data.comp[0] }}</b>
                        </td>
                        <td class="master-bg"><b>{{ data.comp[1] }}</b></td>
                        <td class="phd-bg"><b>{{ data.comp[2] }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="scientist-image">
            <div class="scientist-image-bg {{ data.area | lower }}-bg"></div>
            <img class="scientist-image-area-icon" src="media/icons/{{ data.area | lower }}-pattern.png">
            <img class="scientist-image-central-photo" src="media/images/scientists/{{ data.name }}.png">
            <div class="scientist-image-vertical-text"><b>{{ data.name }}</b></div>
            <div class="scientist-image-skew-top-white"></div>
            <div class="scientist-image-skew-bottom-white"></div>
        </div>
        <div class="scientist-info">
            <div class="scientist-info-hint">
                {% for icon in top_hints.get(data.perk, '') %}
                <i class="fa-solid fa-{{ icon }}"></i>
                {% endfor %}
            </div>
            <span>{% for word in data.text.split(' ') %}{{ inline_hints.get(word, word) }} {% endfor %}</span>
        </div>
        <div class="scientist-footer">
            <span>{{ data.desc }}</span>
        </div>
    </div>
    <div class="card-border"></div>
</div>
{% endmacro %}